問24

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

問25

In [3]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

問27

In [4]:
address='Tokyo,Japan'

In [5]:
address.split(',')

['Tokyo', 'Japan']

In [6]:
address.upper()

'TOKYO,JAPAN'

In [7]:
address.split('J')

['Tokyo,', 'apan']

In [8]:
address.index()

TypeError: index() takes at least 1 argument (0 given)

In [9]:
address.index('T')

0

In [10]:
address.index(',')

5

In [11]:
address.index('b')

ValueError: substring not found

問27-30
addressの中にTokyo,Japanという文字列が入っている.
27のsplitでは''に挟まれた文字で分割している.
29のindexでは''に挟まれた文字が初めて現れるのが何文字目かを返す.
30のupper()は文字列をすべて大文字に変換する.

In [12]:
lower()

NameError: name 'lower' is not defined

In [13]:
address.lower()

'tokyo,japan'

問31-32
31のサイトはPythonの公式.
32はlower()ですべてを小文字で表す.

3章
問37

In [15]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [16]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

問38

In [17]:
date_a

datetime.date(2008, 1, 1)

In [18]:
date_a.year

2008

In [19]:
date_a.weekday()

1

In [20]:
date_a.month

1

In [21]:
date_a.day

1

year,month,dayはそのまま年、月、日にちを返す. weekdayは何曜日かを数字で返す.月曜なら0,火曜なら1.

name.upper()

括弧あり:何らかの処理をする=メソッド

date_a.year

括弧なし:データにアクセスするだけ=属性

問39

In [24]:
date.today()

datetime.date(2017, 5, 17)

In [25]:
date_c=date.today()

In [26]:
birthday=date(2017,5,10)

In [27]:
life=date_c-birthday

In [28]:
print(life)

7 days, 0:00:00

In [29]:
birthday=date(1998,1,10)

In [31]:
life=date_c-birthday

In [32]:
print(life)

7067 days, 0:00:00

問45

これまで使ってきたdate()をdate型の初期化メソッドと呼ぶ

問46

In [34]:
date_a=date(2017,5,17)
print(date_a)

2017-05-17

In [35]:
date.today()

datetime.date(2017, 5, 17)

In [36]:
print(date.today())

2017-05-17